/JavaVerbalExpressions/nbproject/private/
/JavaVerbalExpressions/build/
/JavaVerbalExpressions/dist/
/codeterm/dist/
/remote-objects2/nbproject/private/
/http-multipart/nbproject/private/
/http-utils/nbproject/private/
/http-utils/build/
/http-utils/dist/
/streams/nbproject/private/
/lzma/nbproject/private/
/lzma/build/
/lzma/dist/
/lz4/nbproject/private/
/lz4/build/
/lz4/dist/
/streams/build/
/streams/dist/
/checker/nbproject/private/
/checker/build/
/checker/dist/
/jz/nbproject/private/
/proglistener/nbproject/private/
/proglistener/build/
/jz/build/
/zipfile/nbproject/private/
/zipfile/build/
/proglistener/dist/
/zipfile/dist/
/simmail/nbproject/private/
/simmail/dist/
/simmail/build/
/jst/dist/
/str/nbproject/private/
/jasdb_test/nbproject/private/
/jasdb_test/build/
/simpledocdb/nbproject/private/
/simpledocdb/build/
/simplejson2/build/
/simplejson2/nbproject/private/
/simplejson/nbproject/private/
/simplejson/build/
/simdate/build/
/simdate/dist/
/angjs/nbproject/private/
/angjs/build/
/simpledb/dist/
/sjsonV2/nbproject/private/
/sjsonV2/build/
/json-io/nbproject/private/
/json-io/build/
/json-io/dist/
/reflector/dist/
/slogV2/build/
/powerS/dist/
/tn3270/build/
/FScriptExt/dist/
/jconsole/dist/
/jcalendar/dist/
/powerS/nbproject/private/
/scronV6/nbproject/private/
/concurrent/nbproject/private/
/tn3270/nbproject/private/
/slogV2/nbproject/private/
/FScriptExt/nbproject/private/
/powerS/build/
/concurrent/build/
/concurrent/dist/
/FScriptExt/build/
/scronV6/dist/
/scronV6/build/
/slogV2/dist/
/tn3270/dist/
/timeouts/build/
/timeouts/dist/
/jconsole/build/
/codeterm/build/
/jcalendar/build/
/powercoder/dist/
/powercoder/build/
/uppercase/nbproject/private/
/uppercase/build/
/SinergiaProcessamento/nbproject/private/
/rob-httpcore/nbproject/private/
/rob-httpcore/build/
/revoke/nbproject/private/
/revoke/build/
/revoke/dist/
/RevokServletTest/nbproject/private/
/RevokServletTest/build/
/RevokServletTest/dist/
/boon/nbproject/private/
/boon/build/
/boon/dist/
/testBoon/nbproject/private/
/testBoon/build/
/testJson/nbproject/private/
/testJson/build/
/reflector/build/
/timer/nbproject/private/
/timer/build/
/stopwatch/nbproject/private/
/stopwatch/build/
/typing/nbproject/private/
/typing/build/
/xprops/nbproject/private/
/xprops/build/
/byteBuddy/nbproject/private/
/byteBuddy/build/
/tools/nbproject/private/
/tools/build/
/xprops/dist/
/tools/dist/
/logging/nbproject/private/
/logging/dist/
/logging/build/
/test-logging/nbproject/private/
/test-logging/build/
/tar/nbproject/private/
/tar/build/
/tar/dist/
/jtar/nbproject/private/
/jtar/dist/
/jtar/build/
/jfarch/nbproject/private/
/flexpack/nbproject/private/
/flexpack/build/
/zii/nbproject/private/
/gson-test/nbproject/private/
/gson-test/build/
/tictacj/nbproject/private/
/tictacj/build/
/tictacj/dist/
/simclock/nbproject/private/
/logging-log4j12/nbproject/private/
/jclock/nbproject/private/
/jclock/build/
/jclock/dist/
/some-place/dist/
/JFXHelloWorld/nbproject/private/
/JFXHelloWorld/build/
/JFXHelloWorld/dist/
/fxconsole/nbproject/private/
/fxconsole/dist/
/fxconsole/build/
/fxcron/nbproject/private/
/fxcron/build/
/fxcron/dist/
/fxcron2/nbproject/private/
/fxfield/nbproject/private/
/fxfield/build/
/fxfield/dist/
/maxbean-cli/nbproject/private/
/maxbean-cli/build/
/maxbean-cli/dist/
/maxbean/dist/
/maxbean-cli2/nbproject/private/
/maxbean-cli2/build/
/maxbean-cli2/dist/
/zeromap/nbproject/private/
/zeromap/build/
/test-byte-buddy/nbproject/private/
/test-byte-buddy/build/
/simclock/build/
/zeromap-buddy/nbproject/private/
/zeromap-js/nbproject/private/
/zeromap-js/build/
/zeromap/dist/
/zeromap-js/dist/
/insane/nbproject/private/
/sane/nbproject/private/
/insane/build/
/superloop/nbproject/private/
/fastgear/nbproject/private/
/fastgear/build/
/fastgear/dist/
/undertow-test/target/
/undertowTest/target/
/disecMicro/nbproject/private/
/microServer/nbproject/private/
/disecMicro_1/nbproject/private/
/disecMicro/build/
/disecMicro/dist/
/mapclear/nbproject/private/
/dropmap/nbproject/private/
/dropmap/build/
/dropmap/dist/
/disecMicroServices/nbproject/private/
/timer/dist/
/disecMicroServices/build/
/lspt/nbproject/private/
/lspt/build/
/oodb-tests/nbproject/private/
/oodb-tests/build/
/final-gson/nbproject/private/
/json-iterator/nbproject/private/
/json-iterator/build/
/json-iterator/dist/
/getIpAddress/nbproject/private/
/getIpAddress/build/
/getIpAddress/dist/
/inetdis/nbproject/private/
/inetdis/build/
/inetdis/dist/
/micro/nbproject/private/
/micro/build/
/resource-loader/nbproject/private/
/resource-loader/build/
/resource-loader/dist/
/resource-dep/nbproject/private/
/resource-dep/build/
/resource-dep/dist/
/disecMicroServicesRedis/nbproject/private/
/Jose/nbproject/private/
/Jose/build/
/Jose/dist/
/disecMicroServices/dist/
/findUpper/nbproject/private/
/findUpper/build/
/html/nbproject/private/
/test-dom-js/nbproject/private/
/test-dom-js/build/
/dynaclass/nbproject/private/
/dynaclass/build/
/dynaloader/nbproject/private/
/dynaloader/build/
/dynaloader/dist/
/testObjectBox/nbproject/private/
/testObjectBox/dist/
/testObjectBox/build/
/morphia-test/nbproject/private/
/morphia-test/build/
/neo4j-ogm-test/nbproject/private/
/neo4j-ogm-test/build/
/test-nitrite/nbproject/private/
/test-nitrite/build/
/dbone/nbproject/private/
/dbone/build/
/dbone/dist/
/ironbit/nbproject/private/
/ironbit/build/
/ironbit/dist/
/jom/nbproject/private/
/jom/build/
/coreone/nbproject/private/
/coreone/build/
/labda-factory/nbproject/private/
/microprofile-test/target/
/intellij/microprofile-test/target/
/kumuluzee-hello/target/
/kumuluzee-hello2/target/
/kumuluzee-staticserver/target/
/finalson/nbproject/private/
/finalson/target/
/toolbox/target/
/orb/target/
/orb-gson/target/
/micro-base/target/
/dropmap-mvn/target/
/migcss/nbproject/private/
/migcss-mvn/target/
/jackson-test/target/
/dbone-mvn/target/
/filex/nbproject/private/
/filex/build/
/dbone-jackson-plugin/target/