/JavaVerbalExpressions/nbproject/private/
/JavaVerbalExpressions/build/
/JavaVerbalExpressions/dist/
/codeterm/dist/
/remote-objects2/nbproject/private/
/http-multipart/nbproject/private/
/http-utils/nbproject/private/
/http-utils/build/
/http-utils/dist/
/streams/nbproject/private/
/lzma/nbproject/private/
/lzma/build/
/lzma/dist/