/JavaVerbalExpressions/nbproject/private/
/JavaVerbalExpressions/build/
/JavaVerbalExpressions/dist/
/codeterm/dist/
/remote-objects2/nbproject/private/
/http-multipart/nbproject/private/
/http-utils/nbproject/private/
/http-utils/build/
/http-utils/dist/
/streams/nbproject/private/
/lzma/nbproject/private/
/lzma/build/
/lzma/dist/
/lz4/nbproject/private/
/lz4/build/
/lz4/dist/
/streams/build/
/streams/dist/
/checker/nbproject/private/
/checker/build/
/checker/dist/
/jz/nbproject/private/
/proglistener/nbproject/private/
/proglistener/build/
/jz/build/
/zipfile/nbproject/private/
/zipfile/build/
/proglistener/dist/
/zipfile/dist/
/simmail/nbproject/private/
/simmail/dist/
/simmail/build/
/jst/dist/
/str/nbproject/private/
/jasdb_test/nbproject/private/
/jasdb_test/build/
/simpledocdb/nbproject/private/
/simpledocdb/build/
/simplejson2/build/
/simplejson2/nbproject/private/
/simplejson/nbproject/private/
/simplejson/build/
/simdate/build/
/simdate/dist/
/angjs/nbproject/private/
/angjs/build/
/simpledb/dist/
/sjsonV2/nbproject/private/
/sjsonV2/build/
/json-io/nbproject/private/
/json-io/build/
/json-io/dist/
/reflector/dist/
/slogV2/build/
/powerS/dist/
/tn3270/build/
/FScriptExt/dist/
/jconsole/dist/
/jcalendar/dist/
/powerS/nbproject/private/
/scronV6/nbproject/private/
/concurrent/nbproject/private/
/tn3270/nbproject/private/
/slogV2/nbproject/private/
/FScriptExt/nbproject/private/
/powerS/build/
/concurrent/build/
/concurrent/dist/
/FScriptExt/build/
/scronV6/dist/
/scronV6/build/
/slogV2/dist/
/tn3270/dist/
/timeouts/build/
/timeouts/dist/
/jconsole/build/
/codeterm/build/
/jcalendar/build/
/powercoder/dist/
/powercoder/build/
/uppercase/nbproject/private/
/uppercase/build/
/SinergiaProcessamento/nbproject/private/
/rob-httpcore/nbproject/private/
/rob-httpcore/build/
/revoke/nbproject/private/
/revoke/build/
/revoke/dist/
/RevokServletTest/nbproject/private/
/RevokServletTest/build/
/RevokServletTest/dist/
/boon/nbproject/private/
/boon/build/
/boon/dist/
/testBoon/nbproject/private/
/testBoon/build/
/testJson/nbproject/private/
/testJson/build/
/reflector/build/
/timer/nbproject/private/
/timer/build/
/stopwatch/nbproject/private/
/stopwatch/build/
/typing/nbproject/private/
/typing/build/
/xprops/nbproject/private/
/xprops/build/
/byteBuddy/nbproject/private/
/byteBuddy/build/
/tools/nbproject/private/
/tools/build/
/xprops/dist/
/tools/dist/
/logging/nbproject/private/
/logging/dist/
/logging/build/
/test-logging/nbproject/private/
/test-logging/build/
/tar/nbproject/private/
/tar/build/
/tar/dist/
/jtar/nbproject/private/
/jtar/dist/
/jtar/build/
/jfarch/nbproject/private/
/flexpack/nbproject/private/
/flexpack/build/
/zii/nbproject/private/
/gson-test/nbproject/private/
/gson-test/build/
/tictacj/nbproject/private/
/tictacj/build/
/tictacj/dist/
/simclock/nbproject/private/
/logging-log4j12/nbproject/private/
/jclock/nbproject/private/
/jclock/build/
/jclock/dist/
/some-place/dist/
/JFXHelloWorld/nbproject/private/
/JFXHelloWorld/build/
/JFXHelloWorld/dist/
/fxconsole/nbproject/private/
/fxconsole/dist/
/fxconsole/build/
/fxcron/nbproject/private/
/fxcron/build/
/fxcron/dist/