.bg_image {
  background-image: url('img/clouds-bg.jpg');
}

#title {
  width: 300px; 
  height: 50px; 
  position: relative; 
  top: 40px; 
  left: 0px;
}

#logo {
  width: 120px; 
  height: 80px; 
  position: relative; 
  top: 40px; 
  left: -400px;
}

#line {
  width: 900px; 
  height: 3px; 
  position: relative; 
  top: 30px;
}

#content-div {
  position: relative;
  top: 0px;
  width: 900px;
}

#footer-div {
  position: relative;
  top: 10px;
  left: 0px;
  width: 100%;
  z-index: 0;
}

#ft-line {
  width: 900px; 
  height: 3px; 
}

#ft-background {
  position: relative;
  top: -4px;
  z-index: 0;
  width: 900px;
  height: 50px;
  background-color: whitesmoke;
  opacity: 0.7;
}

#ft-content {
  position: relative;
  top: -50px;
  width: 900px;
  height: 40px;
  z-index: 2;
}

#ft-logo {
  position: relative;
  top: 2px;
  width: 50px;
  height: 35px;
}

#ft-title {
  position: relative;
  top: -2px;
  left: 10px;
}

.ft-style {
  font-family: sans-serif;
  font-style: italic;
  font-size: 14px;
  position: relative;
  top: -7px;
}

#lk-home {
  left: 600px;
}

#lk-settings {
  left: 555px;
}

#lk-login {
  left: 490px;
}

#lk-logout {
  left: 490px;
}

.lk-img {
  width: 124px; 
  height: 44px;
}

.lk-val {
  position: relative; 
  top: -10px; 
  left: -88px; 
  color: black; 
  font-size: 17px; 
  font-family: sans-serif;
}

.lk-val-gt {
  position: relative; 
  top: -10px; 
  left: -100px; 
  color: black; 
  font-size: 17px; 
  font-family: sans-serif;
}

.links {
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  top: -19px;
}

.lk-img-over {
  display: none;
  width: 124px; 
  height: 44px;
}

.lk-img-current {
  display: none;
  width: 124px; 
  height: 44px;
}

.lk-img-curr-over {
  display: none;
  width: 124px; 
  height: 44px;
}
