<link type="text/css" href="css/ls.css" rel="stylesheet" />

<style type="text/css">
  
  .tr-colored {
    background-color: white;
  }

  .tr-colored:hover {
    background-color: rgb(245,245,245);
  }

  .f-link {
    text-decoration: none;
  }

  .f-link:hover {
    text-decoration: underline;
    color: rgb(100,100,180);
  }

  .f-link:visited {
    color: rgb(100,100,100);
  }
  
</style>


<br/>

<div id="current-dir">

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><strong><i class="fa fa-folder-open _2"></i>{{dir.path}}</strong></h4>
          <div style="float: right; margin-right: 10px; margin-top: -36px;">
            <button title="Parent" type="button" class="btn btn-default" onclick="parent();">
              <i class="fa fa-arrow-circle-o-up"></i>
            </button>
            <button title="Delete" type="button" class="btn btn-default">
              <i class="fa fa-trash-o"></i>
            </button>
            <button title="Create Dir" type="button" class="btn btn-default">
              <i class="fa fa-plus"></i>
            </button>
            <button title="Upload" type="button" class="btn btn-default">
              <i class="fa fa-cloud-upload"></i>
            </button>
            </div>
        </div>
        <div class="panel-body container">
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
              <ul class="list-group">
                <li title="Size" class="list-group-item pad-left-15">
                  <i class="fa fa-database _2"></i>{{getSize(dir)}}
                </li>
                <li title="Permissions" class="list-group-item pad-left-15">
                  <i class="fa fa-lock _2"></i>{{dir.perms}}
                </li>
              </ul>
            </div>
            <div class="col-lg-2">
              <ul class="list-group">
                <li title="Owner" class="list-group-item pad-left-15">
                  <i class="fa fa-user _2"></i>{{dir.owner}}
                </li>
                <li title="Group" class="list-group-item pad-left-15">
                  <i class="fa fa-users _2"></i>{{dir.group}}
                </li>
              </ul>
            </div>
            <div class="col-lg-3">
              <ul class="list-group">
                <li title="Modification Time" class="list-group-item pad-left-15">
                  <i class="fa fa-calendar _2"></i>{{getTime(dir.time.modified.seconds)}}
                </li>
                <li title="Creation Time" class="list-group-item pad-left-15">
                  <i class="fa fa-calendar-plus-o _2"></i>{{getTime(dir.time.create.seconds)}}
                </li>
              </ul>
            </div>
            <div class="col-lg-3">
              <ul class="list-group">
                <li title="Last Access Time" class="list-group-item pad-left-15">
                  <i class="fa fa-calendar-check-o _2"></i>{{getTime(dir.time.access.seconds)}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <table id="table-files" class="table">
          <thead>
          <th><i class="fa fa-square-o _2"></i></th>
          <th><i class="fa fa-exchange _2"></i>Path</th>
          <th><i class="fa fa-database _2"></i>Size</th>
          <th><i class="fa fa-lock _2"></i>Perms</th>
          <th><i class="fa fa-user _2"></i>Owner/Group</th>
          <th><i class="fa fa-calendar _2"></i>Modified Time</th>
          </thead>
          <tbody>
            <tr class="tr-colored" v-for="file in ls">
              <td><input type="checkbox" class="form-control"/></td>
              <td>
                <a v-bind:href="download(file.path)" v-if="!file.isdir" class="f-link">
                  <i class="fa fa-folder _2" style="color: rgb(240,230,130);" v-if="file.isdir"></i>
                  <i class="fa _2" v-else v-bind:class="findIcon(file.path)"></i>
                  {{file.path}}
                </a>
                <a href="#table-files" v-else v-on:click="get(file.path)" class="f-link">
                  <i class="fa fa-folder _2" style="color: rgb(240,230,130);" v-if="file.isdir"></i>
                  <i class="fa _2" v-else v-bind:class="findIcon(file.path)"></i>
                  {{file.path}}
                </a>
              </td>
              <td>{{getSize(file)}}</td>
              <td>{{file.perms}}</td>
              <td>{{file.owner}}/{{file.group}}</td>
              <td>{{getTime(file.time.modified.seconds)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  
  <!-- div class="row row-file">
    <div class="col-lg-12 container">
      <div class="row">
        <div class="col-lg-4"><strong>Path</strong></div>
        <div class="col-lg-2"><strong><i class="fa fa-database _2"></i>Size</strong></div>
        <div class="col-lg-2"><strong><i class="fa fa-lock _2"></i>Perms</strong></div>
        <div class="col-lg-2"><strong><i class="fa fa-user _2"></i>Owner/Group</strong></div>
        <div class="col-lg-2"><strong><i class="fa fa-calendar _2"></i>Modified Time</strong></div>
      </div>
    </div>
  </div -->
  
  

  <!--div class="row row-file" v-for="file in ls">
    <div class="col-lg-12 container">
      <a href="#" v-on:click="file.isdir ? get(file.path) : download(file.path)">
        <div class="row">
          <div class="col-lg-4">
            <i class="fa fa-folder _2" v-if="file.isdir"></i>
            <i class="fa fa-file-text _2" v-else></i>
            {{file.path}}
          </div>
          <div class="col-lg-2">
            {{getSize(file)}}
          </div>
          <div class="col-lg-2">
            {{file.perms}}
          </div>
          <div class="col-lg-2">
            {{file.owner}}/{{file.group}}
          </div>
          <div class="col-lg-2">
            {{getTime(file.time.modified.seconds)}}
          </div>
        </div>
      </a>
    </div>
  </div-->
  <br/>
  <br/>
  
</div>


<script type="text/javascript" src="js/ls.js"></script>

