<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
      <servlet-name>revokServlet</servlet-name>
      <servlet-class>us.pserver.revok.servlet.RevokServlet</servlet-class>
      
      <init-param>
        <param-name>us.pserver.revok.container.ObjectContainer</param-name>
        <param-value>
          calc.ICalculator=us.pserver.revok.test.Calculator, 
          io.StreamHandler=us.pserver.revok.test.StreamHandler
        </param-value>
      </init-param>
      <init-param>
        <param-name>us.pserver.revok.container.Credentials</param-name>
        <param-value>
          juno:1234@io,
          @calc,
          @*
        </param-value>
      </init-param>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>revokServlet</servlet-name>
      <url-pattern>/revok</url-pattern>
    </servlet-mapping>
</web-app>
